/* TODO Add site wide styles */
.random{
    border: 3px solid blue;
    border-radius: 10px;
    padding: 10px;
    background-color: bisque;

}

.container{
    display: flex;
    align-items: stretch;
    border-radius: 10px;

}